body{
    background:url(facilities-head4.jpg);
    background-size:  cover; 
    background-position: center;
}
.login-box{
    max-width: 500px;
    float: none;
    margin: 10px auto
}
.login-left{
    background: rgba(211, 211, 211, 0.5);
    padding: 30px;
}
.register-right{
    background:  rgba(211, 211, 211, 0.5);
    padding: 30px;
}
.form-control{
    background-color: transparent 
}