body{
    background:url(../images/Sac-Night.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Mukta', sans-serif;
}
.jumbotron{
    font-size: 30px;
    background: rgba(211, 211, 211, 0.80);
    text-align: center;
    margin: 20px auto;
    font-family: 'Mukta', sans-serif;
    max-width: 30%;
}
.container{
    margin-top: 420px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.question {
    font-size: 20px;
}
html{
    font-family: 'Mukta', sans-serif;


.title {
    text-align: left;
    font-size: 40px;
}