body{
    background:url(../images/Sac-Night.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Mukta', sans-serif;
}
.jumbotron{
    font-size: 30px;
    background: rgba(211, 211, 211, 0.80);
    text-align: center;
    margin: 20px auto;
    font-family: 'Mukta', sans-serif;
    max-width: 45%;
}
.container1{
    width: inherit;
    margin-top: 400px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: -10px;
    padding-right: -10px;

}
.container2{
    width: inherit;
}
.loginhead{
    border-bottom: 2px;
}