body{
    background:url(../images/SacramentoBridge.png);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.login-box{
    max-width: 500px;
    float: none;
    margin: 10px auto
}
.container1{
    background:rgba(211, 211, 211, 0.8);
    padding: 50px;
    text-align: center;
}
.container2{
    background:rgba(211, 211, 211, 0.8);
    padding: 20px;
    width: inherit;
}
.form-control{
    background-color: white 
}
h2{
    text-align: center;
}
.jumbotron{
    width: inherit;
    margin: 20px auto;
}
