body{
    background:url(../images/facilities-head4.jpg);
    background-size:  cover; 
    background-position: center;
}
.login-box{
    max-width: 500px;
    float: none;
    margin: 10px auto
}
.container1{
    background: rgba(211, 211, 211, 0.5);
    padding: 100px;
}
.container2{
    background:  rgba(211, 211, 211, 0.5);
    padding: 5px;
    background-position: right
}
.form-control{
    background-color: white 
}