body{
    background-image: url(../images/recipe.jpg);
    font-family: 'Mukta', sans-serif;
    background-attachment: fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbotron{
    font-size: 30px;
    background: rgba(211, 211, 211, 0.80);
    text-align: center;
    margin: 20px auto;
}
.container2{
    width: inherit;
    height: 340px;
}
button{
    margin: 5px;
}
.newRow{
    width: inherit;
}
.info{
    width: inherit;
}
.ingredients{
    text-align: left;
}
.link{
    align-content: center;
}
h2{
    text-align: center;
}