body{
    background-image: url(../images/recipe.jpg);
    font-family: 'Mukta', sans-serif;
}
.jumbotron{
    font-size: 30px;
    background: rgba(211, 211, 211, 0.80);
    text-align: center;
    margin: 20px auto;
}
h1{
    font-size: 40px;
}
.container2{
    width: inherit;
    height: 340px;
}
.display{
    display: inline-table;
}
button{
    margin: 5px;
}
.newRow{
    width: inherit;

}
.info{
    width: inherit;
}