body{
    background-image: url(../images/recipe.jpg)
}
.jumbotron{
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;
    background: rgba(211, 211, 211, 0.80);
    text-align: center;
    margin: 20px auto;
}
h1{font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
}
.container{
    width: inherit;
}
.display{
    display: inline-table;
}
button{
    margin: 5px;
}
