body {
  background-image: url(../images/resorrecimage.png);
  font-family: 'Mukta', sans-serif;
}

/* body{
  background:url(../images/facilities-head4.jpg);
  background-size:  cover; 
  background-position: center;
  background-color: rebeccapurple;
  background-blend-mode: screen;
} */

.top-bar {
  background:  rgba(211, 211, 211, 0.8);
  padding: 40px 0 ;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 900
} */

h1 {
  font-size: 60px
}
#votes {
  font-size: 10px;
}

#search {
  text-align: center;
  width: 80%;
  margin: auto;
  background:  rgba(211, 211, 211, 0.8);
  margin-bottom: 20px;
 
}

.search-results {
  background:  rgba(211, 211, 211, 0.8);
  padding: 5px;
  text-align: center;
  
}

.search-critera {
  background:  rgba(211, 211, 211, 0.8);
  padding: 5px;
  text-align: center;
  
}

#add-search {
  text-align: center;
  width: 80%;
  margin: auto;
  background:  rgba(211, 211, 211, 0.8);
  margin-bottom: 20px;
}

form {
  display: block;
  padding: 10px;
}

.form-group {
  width: 30%;
  display: inline-block;
  padding: 10px;
}

.search {
  align-content: center;
  text-align: center;
  margin: auto;
}

img {
  width: 100px;
  height: 90px;
  
}
tr {
  align-content: center;
  font-weight: 900;
}

thead {
  font-size: 20px;
  font-weight: 950;
}