.top-bar {
  background-color: lightslategray;
  color: white;
  padding: 40px 0 ;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 60px
}

#search {
  text-align: center;
  width: 80%;
  margin: auto;
  border: 3px solid lightskyblue;
  margin-bottom: 20px;
}

.search-results {
  background-color: lightskyblue;
  padding: 5px;
  text-align: center;
  color: white;
}

.search-critera {
  background-color: lightskyblue;
  padding: 5px;
  text-align: center;
  color: white;
}

#add-search {
  text-align: center;
  width: 80%;
  margin: auto;
  border: 3px solid lightskyblue;
  margin-bottom: 20px;
}

form {
  display: block;
  padding: 10px;
}

.form-group {
  width: 30%;
  display: inline-block;
  padding: 10px;
}

.search {
  align-content: center;
  text-align: center;
  margin: auto;
}

img {
  width: 100px;
  height: 90px;
  
}
tr {
  align-content: center;
}

.stars-outer {
  position: relative;
  display: inline-block;

}
.stars-inner {
position: absolute;
top: 0;
left: 0 ;
white-space: nowrap;
overflow: hidden;
width:0;
}

.stars-outer ::before {
  content: "\foo5 \foo5 \foo5 \foo5 \foo5";
  font-family: 'font awsome 5 free';
  font-weight: 900;
  color: #ccc;
}

.stars-inner ::before {
  content: "\foo5 \foo5 \foo5 \foo5 \foo5";
  font-family: 'font awsome 5 free';
  font-weight: 900;
  color: #f8ce0b;
}